# Create React App
REACT_APP_SUPABASE_URL=https://tukniegdlmpqtbyudxfm.supabase.co
REACT_APP_SUPABASE_ANON_KEY=sbp_8c472c3b1545240b9cee97171208c1cd562660d0
REACT_APP_TMDB_API_KEY=34ea6080b6d87987e4423ec4afce9303
# Next.js
NEXT_PUBLIC_SUPABASE_URL=https://tukniegdlmpqtbyudxfm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sbp_8c472c3b1545240b9cee97171208c1cd562660d0
NEXT_PUBLIC_TMDB_API_KEY=34ea6080b6d87987e4423ec4afce9303
# Vite (React/Vue)
VITE_SUPABASE_URL=https://tukniegdlmpqtbyudxfm.supabase.co
VITE_SUPABASE_ANON_KEY=sbp_8c472c3b1545240b9cee97171208c1cd562660d0
VITE_TMDB_API_KEY=34ea6080b6d87987e4423ec4afce9303
